<!--
<div layout="column" layout-align="center center">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
  <p class="md-headline"> {{headline}}</p>
  <p class="md-subhead"> {{subhead}}</p>
  
  
  <income></income>
  <retained-earnings></retained-earnings>
  <financial-position></financial-position>
  <cash-flow></cash-flow>
  
  
</div>
-->
<div ng-cloak>
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>VΞNTURΞ ΞQUITY ΞXCHANGΞ (VΞX) | </span>
        </h2>
        <md-button aria-label="New FS" ng-click="newStatement($event)">
          New Financial Statement
        </md-button>
        <md-button aria-label="New FS" ng-click="reviewStatements($event)">
          Review Financial Statements
        </md-button>
        <!--
        <md-button aria-label="Income" ng-click="showIncome($event)">
          Income
        </md-button>
        <md-button aria-label="Retained Earnings">
          Retained Earnings
        </md-button>
        <md-button aria-label="Financial Position">
          Financial Position
        </md-button>
        <md-button aria-label="Cash Flow">
          Cash Flow
        </md-button>
        -->
        <span flex></span>
      </div>
    </md-toolbar>
  </md-content>
  <md-content flex layout-padding>
    <h3>Project Overview</h3>
    <br/>
    <p>
      VΞX is a financial technology startup building a global venture equity issuance and secondary market on Ethereum.
    </p>
    <br/>
    <p>
      For the Ether.Camp Hackathon, we are focusing our efforts on financial reporting contracts and are exploring innovative ways to make financial reporting and auditing automated.
    </p>
    <br/>
    <h3>Why?</h3>
    <br/>
    <p>
      The purpose of financial statements is to provide economic decision-makers and market participants with factual information about the financial position, performance and cash flows of ventures publicly listed on VΞX.
    </p>
    <br/>
    <p>
      In order for efficient financial markets to exist, transparency and symmetry of information is necessary. To maintain consistency with existing accounting practices that are currently used in global financial markets,
      VΞX has chosen to adhere to International Financial Reporting Standards for small and medium-size entities <a href="http://eifrs.ifrs.org/eifrs/IfrsForSmes" target="_blank">(IFRS for SMEs)</a>.
    </p>
    <br/>
    <h3>Automating Financial Reporting & Auditing</h3>
    <br/>
    <p>
      Currently, the 'NEW FINANCIAL STATEMENT' button at the top is anything but automated; a human needs to enter in appropriate accouting fields for each statement (income, retained earnings, financial position, cash flow).
      While issuing a financial statement on the blockchain is cool; we must go a step further and try to reduce human involvement in this process.
    </p>
    <br/>
    <p>To automate the financial reporting, a contract must make an appropriate accounting entry for the venture when the venture receives or sends a transaction. Stay tuned...</p>
    <br/>
    <p></p>
  </md-content>
</div>